
.DS_Store
.idea/.name
.idea/helloworld.iml
.idea/misc.xml
.idea/modules.xml
build/.qglviewer.xml
build/.vs/cmake.db
build/.vs/main/v16/.suo
build/.vs/main/v16/Browse.VC.db
build/.vs/main/v16/Browse.VC.db-shm
build/.vs/main/v16/Browse.VC.db-wal
build/.vs/main/v16/Browse.VC.opendb
build/.vs/main/v16/ipch/AutoPCH/9b4c52930c445bc5/MAIN.ipch
build/.vs/main/v16/ipch/AutoPCH/dd43f14fc7d80ecf/MAIN.ipch
build/.vs/main/v16/Solution.VC.db
build/.vs/main/v16/Solution.VC.db-shm
build/.vs/main/v16/Solution.VC.db-wal
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/ALL_CGAL_TARGETS.vcxproj
build/ALL_CGAL_TARGETS.vcxproj.filters
build/Brain_1_deform.off
build/cgal_check_build_system.vcxproj
build/cgal_check_build_system.vcxproj.filters
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/CGAL_Qt5_moc_and_resources.lastbuildstate
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/CL.command.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/CL.read.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/CL.write.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/CustomBuild.command.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/CustomBuild.read.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/CustomBuild.write.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/Lib-link.read.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/Lib-link.write.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5.35638741.tlog/Lib.command.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5_moc_and_resources.Build.CppClean.log
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5_moc_and_resources.lib.recipe
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5_moc_and_resources.log
build/CGAL_Qt5_moc_and_resources.dir/Debug/CGAL_Qt5_moc_and_resources.vcxproj.FileListAbsolute.txt
build/CGAL_Qt5_moc_and_resources.dir/Debug/mocs_compilation_Debug.obj
build/CGAL_Qt5_moc_and_resources.dir/Debug/qrc_CGAL.obj
build/CGAL_Qt5_moc_and_resources.dir/Debug/qrc_File.obj
build/CGAL_Qt5_moc_and_resources.dir/Debug/qrc_Input.obj
build/CGAL_Qt5_moc_and_resources.dir/Debug/qrc_Triangulation_2.obj
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/CGAL_Qt5_moc_and_resources.lastbuildstate
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/CL.command.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/CL.read.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/CL.write.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/CustomBuild.command.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/CustomBuild.read.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/CustomBuild.write.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/Lib-link.read.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/Lib-link.write.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5.35638741.tlog/Lib.command.1.tlog
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5_moc_and_resources.lib.recipe
build/CGAL_Qt5_moc_and_resources.dir/Release/CGAL_Qt5_moc_and_resources.log
build/CGAL_Qt5_moc_and_resources.dir/Release/mocs_compilation_Release.obj
build/CGAL_Qt5_moc_and_resources.dir/Release/qrc_CGAL.obj
build/CGAL_Qt5_moc_and_resources.dir/Release/qrc_File.obj
build/CGAL_Qt5_moc_and_resources.dir/Release/qrc_Input.obj
build/CGAL_Qt5_moc_and_resources.dir/Release/qrc_Triangulation_2.obj
build/CGAL_Qt5_moc_and_resources.vcxproj
build/CGAL_Qt5_moc_and_resources.vcxproj.filters
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_camera.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_camera.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_DemosMainWindow.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_DemosMainWindow.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_frame.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_frame.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_GraphicsItem.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_GraphicsItem.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_GraphicsViewInput.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_GraphicsViewInput.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_GraphicsViewNavigation.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_GraphicsViewNavigation.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_image_interface.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_image_interface.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_keyFrameInterpolator.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_keyFrameInterpolator.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_manipulatedCameraFrame.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_manipulatedCameraFrame.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_manipulatedFrame.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_manipulatedFrame.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_qglviewer.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Debug/HDPIUTJDHZ/moc_qglviewer.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_camera.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_camera.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_DemosMainWindow.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_DemosMainWindow.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_frame.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_frame.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_GraphicsItem.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_GraphicsItem.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_GraphicsViewInput.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_GraphicsViewInput.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_GraphicsViewNavigation.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_GraphicsViewNavigation.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_image_interface.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_image_interface.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_keyFrameInterpolator.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_keyFrameInterpolator.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_manipulatedCameraFrame.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_manipulatedCameraFrame.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_manipulatedFrame.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_manipulatedFrame.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_qglviewer.cpp
build/CGAL_Qt5_moc_and_resources_autogen/include_Release/HDPIUTJDHZ/moc_qglviewer.cpp.d
build/CGAL_Qt5_moc_and_resources_autogen/mocs_compilation_Debug.cpp
build/CGAL_Qt5_moc_and_resources_autogen/mocs_compilation_Release.cpp
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.20.1/CMakeCCompiler.cmake
build/CMakeFiles/3.20.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.1/CMakeSystem.cmake
build/CMakeFiles/3.20.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.1/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.1/VCTargetsPath.txt
build/CMakeFiles/3.20.1/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.1/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/448aa27a10abe742ba75536044960086/generate.stamp.rule
build/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/AutogenInfo.json
build/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/AutogenUsed_Release.txt
build/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/ParseCache_Debug.txt
build/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/ParseCache_Release.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/compilation_of__CGAL_Qt5_moc_and_resources.vcxproj
build/compilation_of__CGAL_Qt5_moc_and_resources.vcxproj.filters
build/Debug/.qglviewer.xml
build/Debug/brotlicommon.dll
build/Debug/brotlidec.dll
build/Debug/bz2d.dll
build/Debug/CGAL_Qt5_moc_and_resources.lib
build/Debug/CGAL_Qt5_moc_and_resources.pdb
build/Debug/freetyped.dll
build/Debug/gmp.dll
build/Debug/gmpd.dll
build/Debug/harfbuzz.dll
build/Debug/icudtd69.dll
build/Debug/icuind69.dll
build/Debug/icuucd69.dll
build/Debug/jasperd.dll
build/Debug/jpeg62.dll
build/Debug/libpng16d.dll
build/Debug/libwebpmuxd.dll
build/Debug/lzmad.dll
build/Debug/main.exe
build/Debug/main.ilk
build/Debug/main.pdb
build/Debug/mpfr-6.dll
build/Debug/pcre2-16d.dll
build/Debug/plugins/iconengines/qsvgicond.dll
build/Debug/plugins/imageformats/qgifd.dll
build/Debug/plugins/imageformats/qicnsd.dll
build/Debug/plugins/imageformats/qicod.dll
build/Debug/plugins/imageformats/qjp2d.dll
build/Debug/plugins/imageformats/qjpegd.dll
build/Debug/plugins/imageformats/qsvgd.dll
build/Debug/plugins/imageformats/qtgad.dll
build/Debug/plugins/imageformats/qtiffd.dll
build/Debug/plugins/imageformats/qwbmpd.dll
build/Debug/plugins/imageformats/qwebpd.dll
build/Debug/plugins/platforms/qwindowsd.dll
build/Debug/plugins/styles/qwindowsvistastyled.dll
build/Debug/qt.conf
build/Debug/Qt5Cored.dll
build/Debug/Qt5Guid.dll
build/Debug/Qt5OpenGLd.dll
build/Debug/Qt5Svgd.dll
build/Debug/Qt5Widgetsd.dll
build/Debug/Qt5Xmld.dll
build/Debug/sphere_R2.off
build/Debug/tiffd.dll
build/Debug/webpd.dll
build/Debug/webpdecoderd.dll
build/Debug/webpdemuxd.dll
build/Debug/zlibd1.dll
build/Debug/zstdd.dll
build/deform_1.off
build/deform_2.off
build/icons/Delaunay_triangulation_2.png
build/icons/File.qrc
build/icons/File.qrc.depends
build/icons/fileNew.png
build/icons/fileOpen.png
build/icons/fileSave.png
build/icons/fit-page-32.png
build/icons/Input.qrc
build/icons/Input.qrc.depends
build/icons/inputPoint.png
build/icons/inputPoint.svg
build/icons/inputPolyline.png
build/icons/license.txt
build/icons/Triangulation_2.qrc
build/icons/Triangulation_2.qrc.depends
build/icons/Voronoi_diagram_2.png
build/icons/zoom-best-fit.png
build/icons/zoom-best-fit.svg
build/main.dir/Debug/main.Build.CppClean.log
build/main.dir/Debug/main.exe.recipe
build/main.dir/Debug/main.log
build/main.dir/Debug/main.obj
build/main.dir/Debug/main.tlog/CL.command.1.tlog
build/main.dir/Debug/main.tlog/CL.read.1.tlog
build/main.dir/Debug/main.tlog/CL.write.1.tlog
build/main.dir/Debug/main.tlog/CustomBuild.command.1.tlog
build/main.dir/Debug/main.tlog/CustomBuild.read.1.tlog
build/main.dir/Debug/main.tlog/CustomBuild.write.1.tlog
build/main.dir/Debug/main.tlog/link.command.1.tlog
build/main.dir/Debug/main.tlog/link.read.1.tlog
build/main.dir/Debug/main.tlog/link.write.1.tlog
build/main.dir/Debug/main.tlog/main.lastbuildstate
build/main.dir/Debug/main.vcxproj.FileListAbsolute.txt
build/main.dir/Debug/vc142.pdb
build/main.dir/Release/main.exe.recipe
build/main.dir/Release/main.log
build/main.dir/Release/main.obj
build/main.dir/Release/main.tlog/CL.command.1.tlog
build/main.dir/Release/main.tlog/CL.read.1.tlog
build/main.dir/Release/main.tlog/CL.write.1.tlog
build/main.dir/Release/main.tlog/CustomBuild.command.1.tlog
build/main.dir/Release/main.tlog/CustomBuild.read.1.tlog
build/main.dir/Release/main.tlog/CustomBuild.write.1.tlog
build/main.dir/Release/main.tlog/link.command.1.tlog
build/main.dir/Release/main.tlog/link.read.1.tlog
build/main.dir/Release/main.tlog/link.write.1.tlog
build/main.dir/Release/main.tlog/main.lastbuildstate
build/main.sln
build/main.vcxproj
build/main.vcxproj.filters
build/main.vcxproj.user
build/qrc_CGAL.cpp
build/qrc_File.cpp
build/qrc_Input.cpp
build/qrc_Triangulation_2.cpp
build/Release/brotlicommon.dll
build/Release/brotlidec.dll
build/Release/bz2.dll
build/Release/CGAL_Qt5_moc_and_resources.lib
build/Release/freetype.dll
build/Release/gmp.dll
build/Release/harfbuzz.dll
build/Release/icudt69.dll
build/Release/icuin69.dll
build/Release/icuuc69.dll
build/Release/jasper.dll
build/Release/jpeg62.dll
build/Release/libpng16.dll
build/Release/libwebpmux.dll
build/Release/lzma.dll
build/Release/main.exe
build/Release/mpfr-6.dll
build/Release/pcre2-16.dll
build/Release/plugins/iconengines/qsvgicon.dll
build/Release/plugins/imageformats/qgif.dll
build/Release/plugins/imageformats/qicns.dll
build/Release/plugins/imageformats/qico.dll
build/Release/plugins/imageformats/qjp2.dll
build/Release/plugins/imageformats/qjpeg.dll
build/Release/plugins/imageformats/qsvg.dll
build/Release/plugins/imageformats/qtga.dll
build/Release/plugins/imageformats/qtiff.dll
build/Release/plugins/imageformats/qwbmp.dll
build/Release/plugins/imageformats/qwebp.dll
build/Release/plugins/platforms/qwindows.dll
build/Release/plugins/styles/qwindowsvistastyle.dll
build/Release/qt.conf
build/Release/Qt5Core.dll
build/Release/Qt5Gui.dll
build/Release/Qt5OpenGL.dll
build/Release/Qt5Svg.dll
build/Release/Qt5Widgets.dll
build/Release/Qt5Xml.dll
build/Release/tiff.dll
build/Release/webp.dll
build/Release/webpdecoder.dll
build/Release/webpdemux.dll
build/Release/zlib1.dll
build/Release/zstd.dll
build/resources/about_CGAL.html
build/resources/CGAL.qrc
build/resources/CGAL.qrc.depends
build/resources/cgal_logo.xpm
build/resources/cgal_logo_ipe_2013.png
build/sphere.off
build/sphere2.off
build/sphere4.off
build/sphere_R2.off
build/sphere_R3.off
build/ui_ImageInterface.h
build/x64/Debug/ALL_BUILD/ALL_BUILD.Build.CppClean.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
CMakeLists.txt
